<header class="blog-detail">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="sec-title">Terms</h1>
                <!--
                <h5 class="breadcrumb"><span>Home</span><span>Blog</span></h5>
                -->

            </div>
        </div>
    </div>
</header><!-- END HEADER -->
<!-- BLOG POST -->

<section id="post" class="sec-blog-post bg-white">
    <div class="container">
        <div class="row">

            <!--CONTENT-->

            <!--CONTENT-->

        </div>
    </div>
</section><!-- BLOG POST -->

<!-- CONTACT -->

<section id="contact" class="sec-contact bg-img">
    <div class="bg-img"></div>
    <h5 class="footer">© <strong>EasyTraveling</strong></h5>
</section><!-- END CONTACT -->