<header class="blog-detail join-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="sec-title">Միանալ համակարգին</h1>
                <!--
                <h5 class="breadcrumb"><span>Home</span><span>Blog</span></h5>
                -->

            </div>
        </div>
    </div>
</header><!-- END HEADER -->
<!-- BLOG POST -->

<section id="post" class="sec-blog-post join-page bg-grey">
    <div class="container">
        <div class="row">

            <!--CONTENT-->
            <div class="join-form">
                <h2 align="center">
                    ԴԱՌՆԱԼ ԳՈՐԾԸՆԿԵՐ
                </h2>
                <div class="hr"></div>
                <br/>
                <p>
                    Համակարգին միանալու համար լրացրեք Ձեր տվյալները: Մեր մասնագետները կակտիվացնեն Ձեր հաշիվը և կկապվեն Ձեզ հետ հետագա քայլերի համար։
                </p>
                <br/>
                <div class="join-bg"></div>
                <div class="join-inner-form">
                    [contact-form-7 id="225" title="Contact form 1"]
                </div>
            </div>
            <!--CONTENT-->

        </div>
    </div>
</section><!-- BLOG POST -->

<!-- CONTACT -->

<section id="contact" class="sec-contact bg-img">
    <div class="bg-img"></div>
    <h5 class="footer">© <strong>EasyTraveling</strong></h5>
</section><!-- END CONTACT -->