<!-- HEADER -->
<header id="home" class="header-home">
    <div class="container">
        <div class="row">
            <div class="col-sm-7 col-header-txt lr-padding">
                <h1 class="animate display-none">Ճամփորդության <span>հեշտ և արագ</span> կազմակերպում</h1>
                <p class="animate delay-a display-none">Հավելվածը կօգնի գտնել Ձեր նախընտրած պայմաններին համապատասխան հանգստի լավագույն տարբերակը:</p>
                <a class="btn-white animate delay-b display-none smoothscroll" href="#get-app">Բեռնել</a>
                <a class="btn-transparent animate delay-c display-none smoothscroll" href="#overview">Ավելին</a>
            </div>
            <div class="col-sm-5 col-md-offset-2 col-md-3 col-header-img right-padding">
                <img src="/wp-content/themes/easytraveling/img/header/header-img-2.png" alt="header-img"
                     class="img-header-lg animate delay-c display-none">
                <img src="/wp-content/themes/easytraveling/img/header/header-img-1.png" alt="header-img"
                     class="img-header-sm delay-a display-none">
            </div>
        </div>
    </div>
</header>
<!-- END HEADER -->
<!-- OVERVIEW -->
<section id="overview" class="sec-overview bg-white">
    <div class="container">
        <div class="row">
            <h2 class="sec-title">Ի՞նչ է Easytraveling-ը</h2>
            <div class="hr"></div>
            <p class="subheader">EasyТraveling հավելվածի միջոցով Դուք կարող եք ծանոթանալ Ձեր նշած տվյալներին համապատասխան բոլոր առաջարկներին, համեմատել դրանք, ընտրել և ամրագրել:</p>
            <div class="col-sm-6 col-md-3">
                <div class="wrapper ovi-item animate">
                    <div class="wrapper-img">
                        <!-- <img src="/wp-content/themes/easytraveling/img/overview/ov1.png" alt="Overview icon" /> -->
                        <span class="overview-img lnr lnr-hourglass"></span>
                        <!--<i class="overview-img fa fa-clock-o" ></i>-->
                    </div>
                    <hr>
                    <h5>ժամանակի խնայողություն</h5>
                    <p>Կատարեք հարցումներ առանց գործակալություններ<br /> այցելելու:</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="wrapper ovi-item animate delay-a">
                    <div class="wrapper-img">
                        <!-- <img src="/wp-content/themes/easytraveling/img/overview/ov2.png" alt="Overview icon" /> -->
                        <span class="overview-img lnr lnr-rocket"></span>
                        <!--<i class="overview-img fa fa-paper-plane-o" aria-hidden="true"></i>-->
                    </div>
                    <hr>
                    <h5>Անվճար <br/> հարցում</h5>
                    <p>Հավելվածը բեռնելը, ինչպես նաև նրա գործառույթներից օգտվելը անվճար է:</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="wrapper ovi-item animate delay-b">
                    <div class="wrapper-img ">
                        <!-- <img src="/wp-content/themes/easytraveling/img/overview/ov3.png" alt="Overview icon" /> -->
                        <span class="overview-img lnr lnr-heart"></span>
                        <!--<i class="overview-img fa fa-heart"></i>-->
                    </div>
                    <hr>
                    <h5>Հատուկ<br />առաջարկներ</h5>
                    <p>Առաջինը և առանց հարցման ստացեք գործող լավագույն առաջարկները:</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="wrapper ovi-item animate delay-c">
                    <div class="wrapper-img">
                        <!-- <img src="/wp-content/themes/easytraveling/img/overview/ov4.png" alt="Overview icon" /> -->
                        <span class="overview-img lnr lnr-gift"></span>
                        <!--<i class="overview-img fa fa-usd"></i>-->
                    </div>
                    <hr>
                    <h5>Բոնուսային համակարգ</h5>
                    <p>Կատարեք ամրագրումներ հավելվածով և կուտակեք բոնուսներ:</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END OVERVIEW -->
<!-- STEPS -->
<section id="steps" class="sec-steps bg-gradient-vertical">
    <h2 class="sec-title">ինչպե՞ս է այն աշխատում</h2>
    <div class="hr"></div>
    <p class="subheader">Երեք պարզ քայլ հանգստի լավագույն տարբերակը գտնելու համար:</p>
    <div class="container">
        <div class="row row-1">
            <div class="col-sm-12 col-lg-10 col-lg-offset-1">
                <div class="row row-2">
                    <div class="col-sm-4 step-1">
                        <img src="/wp-content/themes/easytraveling/img/steps/1.png" alt="step-1"
                             class="animate delay-a">
                        <div class="step-desc">
                            <span>1</span>
                            <h4>Գրանցում</h4>
                            <hr>
                            <p>Համակարգից օգտվելու համար անհրաժեշտ է գրանցվել և մուտք գործել անձնական էջ:</p>
                        </div>
                    </div>
                    <div class="col-sm-4 step-2">
                        <img src="/wp-content/themes/easytraveling/img/steps/2.png" alt="step-2"
                             class="animate delay-b ">
                        <div class="step-desc">
                            <span>2</span>
                            <h4>Հարցում</h4>
                            <hr>
                            <p>Կատարիր հարցումներդ ցանկացած վայրից և ստացիր տուրիստական գործակալյությունների գնային առաջարկները:</p>
                        </div>
                    </div>
                    <div class="col-sm-4 step-3">
                        <img src="/wp-content/themes/easytraveling/img/steps/3.png" alt="step-3"
                             class="animate delay-c">
                        <div class="step-desc">
                            <span>3</span>
                            <h4>Ամրագրում</h4>
                            <hr>
                            <p>Հետևիր հարցումների ընթացքին և մեկ հպումով ամրագրիր լավագույն առաջարկը:</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END STEPS -->
<!-- FEATURES -->
<section id="features" class="sec-features bg-grey">
    <h2 class="sec-title">Առավելություններ</h2>
    <div class="hr"></div>
    <p class="subheader">Հավելվածի օգնությամբ հեշտ և արագ, անկախ վայրից և ժամից, առանց գործակալություններ այցելելու ստացիր բոլոր հնարավոր առաջարկները, քննարկիր դրանք և ամրագրիր լավագույն առաջարկը:</p>
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-md-12 container-acting">
                <div class="row">
                    <div class="col-sm-6 col-md-4 col-lg-3 feat-top-left animate delay-a">
                        <span class="lnr lnr-smile"></span>
                        <h5>Պարզ օգտագործում</h5>
                        <p>Հավելվածը պարզ է օգտագործման համար շնորհիվ դիզայնի և կառուցվածքի:</p>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 feat-top-right animate">
                        <span class="lnr lnr-smartphone"></span>
                        <h5>Միշտ քեզ հետ</h5>
                        <p>Կատարիր հարցումներդ հարմար ժամանակ և ցանկացած վայրից, <br />հետևիր դրանց պատասխաններին:</p>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 feat-bottom-left animate delay-a">
                        <span class="lnr lnr-bullhorn"></span>
                        <h5>Առաջարկների բազմազանություն</h5>
                        <p>Նշված ժամանակահատվածի և վայրի համար ստացիր բոլոր հնարավոր առաջարկները:</p>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 feat-bottom-right animate">
                        <span class="lnr lnr-rocket"></span>
                        <h5>Արագ ամրագրում</h5>
                        <p>Փաթեթի ընտրությունից հետո ընդամենը մեկ հպումով պատվիրիր ամրագրումը:</p>
                    </div>
                </div>
                <img class='img-responsive' src="/wp-content/themes/easytraveling/img/features/phone-lines.png"
                     alt='featured'>
            </div>
        </div>
    </div>
</section>
<!-- END FEATURES -->
<!-- SCREENSHOTS -->
<section id="screenshots" class="sec-screenshots bg-white">
    <div class="container">
        <h2 class="sec-title">Սքրինշոթեր</h2>
        <div class="hr"></div>
        <p class="subheader"></p>
        <div class="filter-btns">
            <a href="#" id="all" class="filter-btn active">Բոլորը</a>
            <a href="#" id="cat-1" class="filter-btn">Մուտք</a>
            <a href="#" id="cat-2" class="filter-btn">Առաջարկներ</a>
            <!--<a href="#" id="cat-3" class="filter-btn">Տուր. գործակալություններ</a -->
            <a href="#" id="cat-3" class="filter-btn">Հարցումներ</a>
        </div>
        <div class="row">
            <div id="owl-id" class="screenshots owl-carousel">
                <a href="/wp-content/themes/easytraveling/img/screenshots/1-big.jpg" class="screenshot cat-1"><img
                        src="/wp-content/themes/easytraveling/img/screenshots/1.jpg" alt="screenshot"></a>
                <a href="/wp-content/themes/easytraveling/img/screenshots/2-big.jpg" class="screenshot cat-1"><img
                        src="/wp-content/themes/easytraveling/img/screenshots/2.jpg" alt="screenshot"></a>
                <a href="/wp-content/themes/easytraveling/img/screenshots/3-big.jpg" class="screenshot cat-2"><img
                        src="/wp-content/themes/easytraveling/img/screenshots/3.jpg" alt="screenshot"></a>
                <a href="/wp-content/themes/easytraveling/img/screenshots/4-big.jpg" class="screenshot cat-2"><img
                        src="/wp-content/themes/easytraveling/img/screenshots/4.jpg" alt="screenshot"></a>
                <a href="/wp-content/themes/easytraveling/img/screenshots/5-big.jpg" class="screenshot cat-3"><img
                        src="/wp-content/themes/easytraveling/img/screenshots/5.jpg" alt="screenshot"></a>
                <a href="/wp-content/themes/easytraveling/img/screenshots/6-big.jpg" class="screenshot cat-3"><img
                        src="/wp-content/themes/easytraveling/img/screenshots/6.jpg" alt="screenshot"></a>
                <a href="/wp-content/themes/easytraveling/img/screenshots/7-big.jpg" class="screenshot cat-3"><img
                        src="/wp-content/themes/easytraveling/img/screenshots/7.jpg" alt="screenshot"></a>
                <a href="/wp-content/themes/easytraveling/img/screenshots/8-big.jpg" class="screenshot cat-3"><img
                        src="/wp-content/themes/easytraveling/img/screenshots/8.jpg" alt="screenshot"></a>
                <a href="/wp-content/themes/easytraveling/img/screenshots/9-big.jpg" class="screenshot cat-3"><img
                        src="/wp-content/themes/easytraveling/img/screenshots/9.jpg" alt="screenshot"></a>
                <a href="/wp-content/themes/easytraveling/img/screenshots/10-big.jpg" class="screenshot cat-3"><img
                        src="/wp-content/themes/easytraveling/img/screenshots/10.jpg" alt="screenshot"></a>
                <a href="/wp-content/themes/easytraveling/img/screenshots/11-big.jpg" class="screenshot cat-3"><img
                        src="/wp-content/themes/easytraveling/img/screenshots/11.jpg" alt="screenshot"></a>
            </div>
        </div>
    </div>
</section>
<!-- END SCREENSHOTS -->
<!-- VIDEO -->
<!--<section id="video" class="sec-video bg-gradient-horizontal bg-img">
    <div class="bg-img"></div>
    <div class="wrapper-video">
        <a class="youtube-popup" href="https://www.youtube.com/watch?v=_L4IQoAWD9E"><i class="fa fa-play"
                                                                                       aria-hidden="true"></i></a>
        <h3>Video demo app</h3>
        <h6>Vestibulum tempus vel est ut tempus quisque tempus blandit odio tincidunt</h6>
    </div>
</section>-->
<!-- END VIDEO -->
<!-- TESTIMONIAL -->
<!--<section id="testimonial" class="sec-testimonial bg-white">
    <h2 class="sec-title">What people are saying</h2>
    <div class="hr"></div>
    <p class="subheader">Lorem ipsum dolor sit amet consectetur adipiscing elit donec tempus pellentesque dui <br/> vel
        tristique purus justo vestibulum eget lectus non gravida ultrices</p>
    <div class="container">
        <div class="row">
            <div id="owl-testimonial" class="owl-testimonial">
                <div class="wrapper-testimonial">
                    <div class="media">
                        <div class="media-left">
                            <img src="/wp-content/themes/easytraveling/img/testimonial/1.jpg" alt="test1">
                        </div>
                        <div class="media-body">
                            <i class="fa fa-quote-left" aria-hidden="true"></i>
                            <p>Thanks yet again for another successful and very popular mobile app.</p>
                            <div class="rating">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <h6>Leila Taylor</h6>
                        </div>
                    </div>
                </div>
                <div class="wrapper-testimonial">
                    <div class="media">
                        <div class="media-left">
                            <img src="/wp-content/themes/easytraveling/img/testimonial/2.jpg" alt="test2">
                        </div>
                        <div class="media-body">
                            <i class="fa fa-quote-left" aria-hidden="true"></i>
                            <p>The app was intuitive and well organized. It made helped my life go smoother.</p>
                            <div class="rating">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                            <h6>Chester Bowen</h6>
                        </div>
                    </div>
                </div>
                <div class="wrapper-testimonial">
                    <div class="media">
                        <div class="media-left">
                            <img src="/wp-content/themes/easytraveling/img/testimonial/1.jpg" alt="test1">
                        </div>
                        <div class="media-body">
                            <i class="fa fa-quote-left" aria-hidden="true"></i>
                            <p>Thanks yet again for another successful and very popular mobile app.</p>
                            <div class="rating">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <h6>Leila Taylor</h6>
                        </div>
                    </div>
                </div>
                <div class="wrapper-testimonial">
                    <div class="media">
                        <div class="media-left">
                            <img src="/wp-content/themes/easytraveling/img/testimonial/2.jpg" alt="test2">
                        </div>
                        <div class="media-body">
                            <i class="fa fa-quote-left" aria-hidden="true"></i>
                            <p>The app was intuitive and well organized. It made helped my life go smoother.</p>
                            <div class="rating">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                            <h6>Chester Bowen</h6>
                        </div>
                    </div>
                </div>
                <div class="wrapper-testimonial">
                    <div class="media">
                        <div class="media-left">
                            <img src="/wp-content/themes/easytraveling/img/testimonial/1.jpg" alt="test1">
                        </div>
                        <div class="media-body">
                            <i class="fa fa-quote-left" aria-hidden="true"></i>
                            <p>Thanks yet again for another successful and very popular mobile app.</p>
                            <div class="rating">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <h6>Leila Taylor</h6>
                        </div>
                    </div>
                </div>
                <div class="wrapper-testimonial">
                    <div class="media">
                        <div class="media-left">
                            <img src="/wp-content/themes/easytraveling/img/testimonial/2.jpg" alt="test2">
                        </div>
                        <div class="media-body">
                            <i class="fa fa-quote-left" aria-hidden="true"></i>
                            <p>The app was intuitive and well organized. It made helped my life go smoother.</p>
                            <div class="rating">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                            <h6>Chester Bowen</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>-->
<!-- END TESTIMONIAL -->
<!-- TEAM -->
<!--<section id="team" class="sec-team bg-gradient-horizontal bg-img">
    <div class="bg-img"></div>
    <h2 class="sec-title">Our Team</h2>
    <div class="hr"></div>
    <p class="subheader">Lorem ipsum dolor sit amet consectetur adipiscing elit donec tempus pellentesque dui <br/> vel
        tristique purus justo vestibulum eget lectus non gravida ultrices</p>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="wrapper animate">
                    <div class="wrapper-img">
                        <img class="img-responsive" src="/wp-content/themes/easytraveling/img/team/1.jpg" alt="team">
                    </div>
                    <h5>Sarah George</h5>
                    <h6>CEO</h6>
                    <hr>
                    <div class="social">
                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="wrapper animate delay-a">
                    <div class="wrapper-img">
                        <img class="img-responsive" src="/wp-content/themes/easytraveling/img/team/2.jpg" alt="team">
                    </div>
                    <h5>Willie Houston</h5>
                    <h6>Web Design</h6>
                    <hr>
                    <div class="social">
                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="wrapper animate delay-b">
                    <div class="wrapper-img">
                        <img class="img-responsive" src="/wp-content/themes/easytraveling/img/team/3.jpg" alt="team">
                    </div>
                    <h5>Warren Summers</h5>
                    <h6>Developer</h6>
                    <hr>
                    <div class="social">
                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="wrapper animate delay-c">
                    <div class="wrapper-img">
                        <img class="img-responsive" src="/wp-content/themes/easytraveling/img/team/4.jpg" alt="team">
                    </div>
                    <h5>Myrtie Malone</h5>
                    <h6>Customer</h6>
                    <hr>
                    <div class="social">
                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>-->
<!-- END TEAM -->
<!-- PRICING -->
<section id="pricing" class="sec-pricing bg-white">
    <h2 class="sec-title">Գործընկերներին</h2>
    <div class="hr"></div>
    <p class="subheader">EasyTraveling-ի միջոցով կարող եք ներգրավել նոր հաճախորդներ, գովազդել հատուկ առաջարկները, առանց հերթի մեջ սպասեցնելու սպասարկել:</p>
    <div class="container">
        <div class="row">
            <div class="join-form">
                <div class="join-bg  animate delay-c display-none"></div>
                <div class="join-inner-form animate delay-a display-none">
                    <div class="wrapper">
                        <h3>Միանալ</h3>
                        <span class="pricing-img lnr lnr-rocket"></span>
                        <hr>
                        <p>Անվճար միացում համակարգին<br></p><hr>Անսահմանափակ առաջարկներ հարցումներին<br><hr>Անսահմանափակ հատուկ առաջարկներ<br><hr>Կառավարման վահանակ<br><hr>Ծանուցումներ<hr>

                        <a class="btn-join" href="https://easytraveling.am/%D5%B4%D5%AB%D5%A1%D5%B6%D5%A1%D5%AC/"><span>Ավելին</span></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- END PRICING -->
<!-- FAQ -->
<section id="faq" class="sec-faq bg-gradient-vertical">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-7">
                <div class="faq-inner">
                    <h2 class="sec-title">Հաճախ տրվող հարցեր</h2>
                    <div class="hr"></div>
                    <p class="subheader">Գտեք Ձեր հարցերի պատասխանները:</p>
                    <!--accordion-->
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default animate ">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1"
                                       class="btn-accordion">Ինչպե՞ս գրանցվել</a>
                                </h4>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse in">
                                <div class="panel-body">Համակարգում գրանցվելու համար անհրաժեշտ է ներբեռնել հավելվածը և գրանցում բաժնում լրացնել անհրաժեշտ տվյալները և հաստատել հաշիվը էլ. փոստով</div>
                            </div>
                        </div>
                        <div class="panel panel-default animate delay-a">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2"
                                       class="btn-accordion collapsed">Ինչպե՞ս կատարել հարցում</a>
                                </h4>
                            </div>
                            <div id="collapse2" class="panel-collapse collapse">
                                <div class="panel-body">Մենյուից ընտրեք համապատասխան բաժինը և լրացրեք պահանջվող դաշտերը: Այնուհետև ստացեք ծանուցումներ հարցման պատասխանների վերաբերյալ:
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default animate delay-b">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3"
                                       class="btn-accordion collapsed">Ինչպե՞ս ամրագրել</a>
                                </h4>
                            </div>
                            <div id="collapse3" class="panel-collapse collapse">
                                <div class="panel-body">Մենյուից ընտրեք համապատասխան բաժինը, ընտրեք Ձեր հարցման առաջարկը: Լրացրեք դաշտերը կամ կցեք փաստաթղթի լուսանկարը:
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default animate delay-c">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse4"
                                       class="btn-accordion collapsed">Ինչպե՞ս ընտրել հավելվածի լեզուն</a>
                                </h4>
                            </div>
                            <div id="collapse4" class="panel-collapse collapse">
                                <div class="panel-body">Կարգավորումներ բաժնից ընտրեք ցանկալի լեզուն և պահպանեք կարգավորումնեը
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-5 ">
                <div class="wrapper-img">
                    <img src="/wp-content/themes/easytraveling/img/faq/img.png" alt="faq" class="animate delay-c">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END FAQ -->
<!-- BLOG -->
<!--<section id="blog" class="sec-blog bg-white">
    <h2 class="sec-title">Latest Posts</h2>
    <div class="hr"></div>
    <p class="subheader">Lorem ipsum dolor sit amet consectetur adipiscing elit donec tempus pellentesque dui <br/> vel
        tristique purus justo vestibulum eget lectus non gravida ultrices</p>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="thumbnail-blog animate ">
                    <div class="thumbnail-img">
                        <img src="/wp-content/themes/easytraveling/img/blog/1.jpg" alt="blog" class="img-responsive"/>
                    </div>
                    <a href="blog-detail.html"><h5>iOS 10: 8 things we want from Apple's new iPhone</h5></a>
                    <h6>June 26, 2016</h6>
                    <p>Most smartphone cases are used to simply protect devices from knocks and drops – the most you can
                        usually hope for is an extra battery ...</p>
                    <a href="blog-detail.html">Read more <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail-blog animate delay-a">
                    <div class="thumbnail-img">
                        <img src="/wp-content/themes/easytraveling/img/blog/2.jpg" alt="blog" class="img-responsive"/>
                    </div>
                    <a href="blog-detail.html"><h5>Android will use beacons to tell phone users about local apps</h5>
                    </a>
                    <h6>June 26, 2016</h6>
                    <p>Praesent semper accumsan erat ac maximus non rutrum exsa fusce at erat in turpis tempus iaculis
                        curabitur et augue pellentesque ...</p>
                    <a href="blog-detail.html">Read more <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail-blog animate delay-b">
                    <div class="thumbnail-img">
                        <img src="/wp-content/themes/easytraveling/img/blog/3.jpg" alt="blog" class="img-responsive"/>
                    </div>
                    <a href="blog-detail.html"><h5>The period-tracking app helping women and scientists</h5></a>
                    <h6>June 26, 2016</h6>
                    <p>Nullam molestie sem id ullamcorper congue sem nulla blandit neque sed viverra lorem metus quis
                        justo vestibulum consequat odio ...</p>
                    <a href="blog-detail.html">Read more <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <a href="blog-list.html"><span>Go to blog</span></a>
    </div>
</section>-->
<!-- END BLOG -->
<!-- GET APP -->
<section id="get-app" class="sec-get-app bg-grey bg-img">
    <div class="bg-img">
        <img src="/wp-content/themes/easytraveling/img/appstore/bg-1.jpg" alt="appstore"/>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h2 class="sec-title">Ներբեռնել</h2>
                <div class="hr"></div>
                <p class="subheader">Հավելվածը հասանելի է Android և iOS համակարգերի համար՝</p>
                <h4></h4>
                <a target="_blank" href="https://itunes.apple.com/us/app/easytraveling/id1368470794"><img src="/wp-content/themes/easytraveling/img/appstore/app-store-nobg.png" alt="app"></a>
                <a target="_blank" href="https://play.google.com/store/apps/details?id=am.easytraveling.easytraveling"><img src="/wp-content/themes/easytraveling/img/appstore/play-store-nobg.png" alt="app"></a>
            </div>
            <div class="col-sm-5"><img class="get-app-mockup animate delay-c"
                                       src="/wp-content/themes/easytraveling/img/appstore/mockup-tab.png" alt="mockup">
            </div>
        </div>
    </div>
</section>
<!-- END GET APP -->
<!-- CONTACT -->
<section id="contact" class="sec-contact bg-img">
    <div class="bg-img"></div>
    <h2 class="sec-title">Կապ մեզ հետ</h2>
    <div class="hr"></div>
    <p class="subheader">Տուրիստական գործակալությունը համակարգում գրանցելու, ինչպես նաև ցանկացած այլ հարցերի կամ առաջարկների դեպքում կարող եք դիմել մեզ:</p>
    <div class="container">
        <div class="row">
            <div class="col-md-12 animate"><!--CHANGE TO col-md-8 IF CONTACT FORM IS OPENED -->
                <div class="contact">
                    <h3>Կապ</h3>
                    <p>Դիմեք մեզ Ձեզ հարմար տարբերակով:</p>
                    <!--<div class="contact-info">
                        <h5><i class="icon ion-ios-location"></i> Հասցե</h5>
                        <h6>591 Goldner Point, New York</h6>
                    </div>-->
                    <div class="contact-info">
                        <h5><i class="icon ion-ios-telephone"></i> Հեռախոս</h5>
                        <h6>(+374) 96 88 66 55</h6>
                    </div>
                    <div class="contact-info">
                        <h5><i class="icon ion-email-unread"></i> Էլ. հասցե</h5>
                        <h6>info@easytraveling.am</h6>
                    </div>
                    <div class="social">
                        <a target="_blank" href="https://www.facebook.com/EasyTraveling-214959275757931"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a target="_blank" href="https://www.instagram.com/easytraveling_app"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        <!--<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a>-->
                    </div>
                </div>
                <!--<div id="googleMap" class="google-maps"></div>-->
            </div>
            <!--<div class="col-md-4 animate delay-a">
                <form class="contact_form" action="#" method="post" enctype="multipart/form-data">
                    <h3>Leave a comment</h3>
                    <div class="form-group">
                        <input name="uname" type="text" class="form-control uName" placeholder="Your name">
                    </div>
                    <div class="form-group">
                        <input name="uemail" type="email" class="form-control uEmail" placeholder="Your email">
                    </div>
                    <div class="form-group">
                        <textarea name="message" class="form-control msg" placeholder="Message"></textarea>
                    </div>
                    <button type="submit">Send message <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                    </button>
                    <p id="fftext"></p>
                    <span id="ffsuccess"></span>
                </form>
            </div>-->
        </div>
    </div>
    <h5 class="footer"><strong>&copy; EasyTraveling</strong></h5>
    <a href="https://easytraveling.am/hy/պայմաններ/">Պայմաններ</a>
</section>
<!-- END CONTACT -->
<!--<footer class="bg-img">
    <div class="bg-img"></div>
    <h2 class="sec-title">Join our newsletter</h2>
    <div class="hr"></div>
    <p class="subheader">Lorem ipsum dolor sit amet consectetur adipiscing elit donec tempus pellentesque dui vel
        tristique purus justo vestibulum eget lectus non gravida ultrices</p>
    <div class="subscription">
        <form class="form-inline mailchimp" method="post">
            <div class="form-group">
                <input name="email" type="email" class="form-control memail" placeholder="Your email">
            </div>
            <button type="submit">Subscribe <i class="fa fa-paper-plane" aria-hidden="true"></i></button>
            <p class="mchimp-errmessage"></p>
            <p class="mchimp-sucmessage"></p>
        </form>
    </div>
    <h5 class="footer">Copyright &copy; by <strong>Faded</strong> 2016. All right reserved.</h5>
</footer>-->
<!-- END FOOTER -->